h1{
	color : blueviolet;
	font-style : times new roman;
}
h3{
	color : blueviolet;
	text-transform: uppercase;
	font : italic;
}
h5{
	color : red;
	text-transform: uppercase;
	font : bold;
}
td{
	color : black;
	font : monospace;
}
ul{
	color : black;
	font : bold;
}
p{
	color : black;
	font : italic;
}
big{
	color: red;
	font-family: cursive;
}
table{
	color: green;
	font-family: monospace;
}
i{
	color: blueviolet;
	font-style: oblique;
}
strong{
	color : blueviolet;
	font-display: block;
}
b{
	color: red;
	font-family: cursive;
}
th{
	color: black;
	font-family:monospace ;
}
li{
	color: black;
	font-family:monospace ;
}